<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<main class="container">
  <div class="card">
    <h2>Login</h2>

    <form action="/login" method="POST">
      <input name="username" placeholder="Username" required />
      <input name="password" type="password" placeholder="Password" required />
      <button type="submit">Entrar</button>
    </form>

    <br>
    <a href="/register">Criar conta</a>
  </div>
</main>

</body>
</html>